# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../laravel task management\.idea/codestream.xml
# Datasource local storage ignored files
/../../../:\laravel task management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
